fun_facts.txt
output.png
sh_count.txt
__pycache__/utils.cpython-39.pyc
utils.py
strongholds.qs
AllPortals.spec
__pycache__/AllPortals.cpython-39.pyc
build/AllPortals/AllPortals.exe.manifest
build/AllPortals/AllPortals.pkg
build/AllPortals/Analysis-00.toc
build/AllPortals/base_library.zip
build/AllPortals/EXE-00.toc
build/AllPortals/PKG-00.toc
build/AllPortals/PYZ-00.pyz
build/AllPortals/PYZ-00.toc
build/AllPortals/Tree-00.toc
build/AllPortals/Tree-01.toc
build/AllPortals/Tree-02.toc
build/AllPortals/warn-AllPortals.txt
build/AllPortals/xref-AllPortals.html
dist/AllPortals.exe
dist/rings.png
